* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: rgb(58, 163, 249);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  gap: 8px;
}
.nav-search-item-container{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.search-bar {
  min-width: 15rem;
  padding: 7px;
  border: none;
  border-radius: 5px;
}
.nav-search-btn {
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid aqua;
  background-color: transparent;
}
.nav-search-btn:hover {
  box-shadow: 1px 2px 3px #888;
  background-color: rgb(43, 219, 231);
}
.movie-poster {
  width: 100%;
  border-radius: 5px;
}
.movie-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.movie-container-initial {
  color: #888;
  text-align: center;
  display: block;
}
.movie-card {
  cursor: pointer;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(206, 247, 247);
  box-shadow: 1px 2px 3px #888;
  padding: 6px;
  border-radius: 7px;
}
.movie-card:hover {
  box-shadow: 5px 5px 25px rgb(38, 152, 152);
  transform: scale(0.9);
  transition: 1000ms;
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(107, 106, 106);
}

.movie-details h1 {
  margin: 5px 0;
  color: black;
}
.movie-details span {
  font-weight: bold;
  color: black;
}
.hide-section {
  display: none;
}
.show-section {
  display: block;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #888;
  border: 1px solid #888;
  margin-right: 8px;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* justify-content: space-between; */
}
.poster {
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 3px 20px rgb(38, 110, 110);
}
.title {
  margin: 10px 0;
}
.title span {
  font-size: small;
}
.rating-rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.rating-rank p span {
  font-size: larger;
  font-weight: bolder;
}
.user-review {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.user-review > p {
  font-size: 12px;
  color: #888;
}
.explore-btn {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: burlywood;
}
.explore-btn:hover {
  box-shadow: 1px 2px 5px #888;
}
